<!DOCTYPE html>
<html>
<head>
    <title>Gullfoss</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Gullfoss</h1>

    <nav>
        <a href="/">Heim</a>
        <a href="/gullfoss">Upplýsingar</a>
        <a href="/menu">Mötuneyti</a>
    </nav>

    <img src="/images/gullfoss.jpg" alt="Gullfoss fossinn" width="400">

    <p>
        Gullfoss er einn af táknrænum fossum Íslands og býður upp á stórkostlegt útsýni yfir krafta og fegurð ósnortinnar náttúru. Gullfoss er hluti af Gullna hringnum, staðsettur á Suðurlandi við Hvítá sem rennur frá Langjökli, næststærsta jökli Íslands. Vatnið fellur 32 metra niður í tveimur áföngum ofan í hrjúft gljúfur þar sem veggirnir ná allt að 70 metra hæð. Á sólríkum degi sést oft glitrandi regnbogi yfir fossinum.
    </p>

</body>
</html>