<!DOCTYPE html>
<html>
<head>
    <title>Gullfoss</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Gullfoss</h1>

    <nav>
        <a href="/">Heim</a>
        <a href="/gullfoss">Gullfoss</a>
        <a href="/menu">Matsedill</a>
    </nav>

    <img src="/images/gullfoss.jpg" alt="Gullfoss fossinn" width="400">

    <p>
        Gullfoss er einn frægasti foss Íslands og er staðsettur í Hvítá.
        Hann er hluti af Gullna hringnum og er vinsæll ferðamannastaður.
    </p>

</body>
</html>