<!DOCTYPE html>
<html>
<head>
    <title>Gullfoss.homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Heimasíða</h1>

    <nav>
        <a href="/">Heim</a>
        <a href="/gullfoss">Upplýsingar</a>
        <a href="/menu">Mötuneyti</a>
    </nav>

    <p>Smá upplýsingar um Gullfoss:</p>
    <ul>
        <li>Gullfoss er einn frægasti foss Íslands og er staðsettur í Hvítá,
        hann er hluti af Gullna hringnum og er vinsæll ferðamannastaður!!</li>
    </ul>
</body>
</html>