<!DOCTYPE html>
<html>
<head>
    <title>Gullfoss.homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Gullfoss</h1>

    <nav>
        <a href="/">Heim</a>
        <a href="/gullfoss">Gullfoss upplýsingar</a>
        <a href="/menu">Matsedill</a>
    </nav>

    <p>Sma upplýsingar um Gullfoss.</p>
</body>
</html