<!DOCTYPE html>
<html>
<head>
    <title>menu menuu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h1>Mötuneyti</h1>

    <nav>
        <a href="/">Heim</a>
        <a href="/gullfoss">Upplýsingar</a>
        <a href="/menu">Mötuneyti</a>
    </nav>

    <h2>Matseðill vikurnar</h2>

    <ul>
        <li>Mánudagr – Fiskur í raspi</li>
        <li>Þriðjudagr – Tikka massala</li>
        <li>Miðvikudagr – Fiskibollur</li>
        <li>Fimmtudagr – Kjúklingarvængir</li>
        <li>Föstudagr – Mexikósk kjötsupa</li>
    </ul>

    <p>Allur matur er ferskur og innblásinn af íslenskri matarmenningu. Source: trust me bro</p>

</body>
</html>